# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.John Lemmon.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity projects\curso-unity-2020\John Lemmon\.idea\.idea.John Lemmon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
